/*//////////////////////// //////////////////////
General Styling
///////////////////////////////////////////////*/

* {
box-sizing: border-box;   

}

#body, body {
 margin: 0;   
background: #FCFCFC;   
}

#body, .case-header h1, .case-header p, .top-nav p, .case-website-button, h2, h3, h4, section.bottom-navigation p, .bold-review {
font-family: 'Whitney SSm A', 'Whitney SSm B';
}

.case-description p, li, sup, .review-quote {
font-family: 'Mercury SSm A', 'Mercury SSm B';    
}


.img {
width: 100%;
margin: 0;
}

img {
 width: 100%;   
}


h1 {
text-align: center;
}

.link {
text-decoration: none; 
color: #527eab;
    padding-bottom: 2px;
}

.link2 {
text-decoration: none; 
color: #262626;
}

a {
 text-decoration: none;  
}



    
a:focus, a:visited, a:active {
    outline: none;
     text-decoration: none;
     color: none;
}




/*//////////////////////// //////////////////////
Navigation Back Button Styling
///////////////////////////////////////////////*/

.top-nav {
/*
display: flex;
display: -webkit-flex;
justify-content: center;
-webkit-justify-content: center;
align-items: center;
-webkit-align-items: center;
*/
background: hsla(0, 0%, 99%, 0.76);
width: 6.5em;
border-bottom-right-radius: 10px;
position: fixed;
color: #262626;
    text-align: center;
}

.top-nav p {
font-size: 1em; 

}

.back-arrow {
width: 15px;
margin-right: .2em;
    vertical-align: middle;
       padding-bottom: 2px;
}


/*//////////////////////// //////////////////////
Description and Landing page Pic
///////////////////////////////////////////////*/


#about {
padding: 2em 0;   
width: 100%;
margin: 0 auto;
}

#about h1 {
font-size: 2em;   
line-height: 0;
margin: 0 auto;
font-weight: normal;
}

#image-f {
width: 90%;
max-width: 500px;
height: 200px;
border-radius: 4px;
margin: 2em auto 0 auto;
background: url(../images/kyle.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;  
}

.icon {
width: 20px;
height: 20px;
border-radius: 100%;
vertical-align: middle;
margin:  5px;
}

#tagline-mobile {
text-align: center;
margin-bottom: 2em;
font-size:2em;
line-height: 1.5;
font-weight: normal;
/*font-family: 'Whitney SSm A', 'Whitney SSm B';*/
}

#desktop-t {
font-weight: 400;  
}
  
#tagline {
display: none; 
/*font-family: 'Whitney SSm A', 'Whitney SSm B';*/
}

#description {
font-size: 1em;
line-height: 1.7;
margin: 0 auto;
width: 95%;
max-width: 500px;
padding: 3em 0;
font-weight: 300;
color: #262626;
}



/*//////////////////////// //////////////////////
Work and Case Study layout
///////////////////////////////////////////////*/

.cover {
width: 100%;
height: 300px; 
margin: 0;
}

#cover1 {
background: url(../images/cover1.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
}

#cover2 {

   background: url(../images/cover2.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}

#cover3 {

   background: url(../images/cover3.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}

#cover4 {

   background: url(../images/cover4.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}

.cover-h {
height: 100%;
width: 100%;
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
transition: 0.5s ease; 
background: none; 
}

.cover-h h3 {
text-align: center;  
color: white;
font-size: 1.5em;
line-height: 0;
font-weight: normal;
margin: 1.5em 0;
}

.task {
line-height: 0;
align-self: center;
-webkit-align-self: center; 
color: white;
font-weight: 300;
margin: 1.5em 0;
font-size: 1em;
}

.case-study {
color: white;
text-align: center;
line-height: 0;
margin: 1.5em auto;
width: 8.5em;
font-weight: 300;
border-radius: 2px;
padding: 1em 0;
transition: 0.2s ease;
border: 1px solid white;
font-weight: 1em;
} 



/*//////////////////////// //////////////////////
Bookshelp Stylling Page
///////////////////////////////////////////////*/

    

#bookshelf {
 display: flex;
display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;
justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  padding: 5em 0;  
}

#bookshelf h2 {
    font-size: 1.15em;
 font-weight: 300; 
    max-width: 200px;
}

.book {
 width: 65px;
    margin: 0 .15em -.15em .15em;
}

.book-row {
border-bottom: 10px solid black;
margin: 3em 0;
-webkit-box-shadow: 0 32px 24px -24px black;
-moz-box-shadow: 0 32px 24px -24px black;
box-shadow: 0 32px 24px -24px black;   
}

    
/*//////////////////////// //////////////////////
Case Study Page Stylling
///////////////////////////////////////////////*/

.case-header {
margin: 0;
height: 50vh;
width: 100vw;
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center; 
color: white;  
text-align: center;
/*font-family: 'Whitney SSm A', 'Whitney SSm B';*/
}

.case-header h1 {
    font-size: 1.25em;
 font-weight: 500;   
}

.case-header p {
 font-weight: 300; 
    font-size: .85em;
}

#studio-header-pic {
background: url(../images/studiov-header.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;        
}

#rittenhouse-header-pic {

background: url(../images/rittenhouse/header.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;        
  
}

#experience-header-pic {
background: url(../images/experience/final-image.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;        
}

#experience-persona1-pic {
background: url(../images/experience/review-pic2.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;        
}

#experience-persona2-pic {
background: url(../images/experience/brian-photo.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;        
}

#experience-persona3-pic {
background: url(../images/experience/review-pic.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;        
}


/*//////////////////////// //////////////////////
Case Study Page Stylling
///////////////////////////////////////////////*/

.case-description {
width: 95%;
max-width: 650px; 
color: #262626;
    margin: 0 auto;
    padding: 3em 0;
}

.case-description p {
font-size: 1em;
line-height: 1.5;
    font-weight: 300;
/*    font-family: 'Mercury SSm A', 'Mercury SSm B'; */
    color: #262626;
}

.first:first-letter { 
    font-size: 2em; 
/*    font-family: 'Whitney SSm A', 'Whitney SSm B';*/
    font-weight: 400;
}

.first:first-line {
  line-height: 1;  
}

.small-caps {
font-variant: small-caps;
/*font-family: 'Whitney SSm A', 'Whitney SSm B';*/
/*    font-family: 'Mercury SSm A', 'Mercury SSm B'; */
font-weight: 400;
}

/*  Firefox TOP_NAV Margin FIX   */
    
@-moz-document url-prefix() { 
  .small-caps {
  font-variant: none;
      font-size: 1em;
         font-weight: 300;
  }
}
 


.case-website-button, .homepage-website-button {
 border: 1px solid #262626;
    color: #262626;
    font-size: 1em;
    padding: .75em 0;
    width: 14em;
    margin: 3em auto;
text-align: center;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    transition: 0.2s ease;
    border-radius: 3px;
}

.homepage-website-button {
width: 9em;
}

.case-website-button:hover, .homepage-website-button:hover {
 background: hsla(0, 0%, 0%, .9);
    color: white;
 
}

/*
.top-nav:hover {
 background: hsla(360, 100%, 100%, 0.75); 
}
*/

.case-description h2, .case-description h3 {
/*  font-family: 'Whitney SSm A', 'Whitney SSm B';*/
}

.annotation {
 margin: 2em auto;
    width: 80%;
    line-height: 1.7;
      max-width: 400px;
}

.annotation2 {
 margin: 0 auto; 
width: 80%;
      line-height: 1.7;
      max-width: 300px;
}



.case-description h2 {
  font-weight: 500;  
}


.case-description h3 {
   font-variant: small-caps;  
}


/*  Firefox TOP_NAV Margin FIX   */
    
@-moz-document url-prefix() { 
.case-description h3 {
   font-variant: normal;
    font-size: .85em;
  }
}
 



.annotation ul li {
font-weight: 300; 
/*font-family: 'Mercury SSm A', 'Mercury SSm B';*/
}

.study-image {
    
  margin: 2em auto;
    width: 80%;
    max-width: 350px;
}

.study-image-large {
    
  margin: 2em auto;
    width: 100%;
/*    max-width: 350px;*/
}

.study-image2 {
    
  margin: 0 auto;
    width: 80%;
    max-width: 350px;
}


.study-image3 {
    
  margin: .5em auto;
    width: 50%;
    max-width: 250px;
}


.annotation-flex {
    margin: 2em auto;
 display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center; 

}

sup {
 font-weight: 300;   
}

.text-indent {
 text-indent: 1em;   
    
}

.top {
 margin-top: 3em;   
}

.bottom-navigation, .bottom-review {
 display: flex;
display: -webkit-flex;
 


align-items: center;
-webkit-align-items: center;
}


.bottom-review {
flex-direction: column;
-webkit-flex-direction: column;
    justify-content: center;
-webkit-justify-content: center;
}



.bottom-navigation {
flex-direction: row;
-webkit-flex-direction: row;
        justify-content: space-between;
-webkit-justify-content: space-between;
  
}

.bottom-icon {
width: 15px;
height: 15px;
margin: 0 5px;
vertical-align: middle;

}

.bottom-navigation p

{
 font-size: .5em;
/*    display: none;*/
}


.review-pic {
 width: 100px;
    height: 100px;
    border-radius: 4px;
  
  
}

.bold-review {
 font-weight: bold;   
 font-variant: small-caps;
    font-style: normal;
    font-size: 1.15em;
}

.review-quote {
 width: 80%;
    line-height: 1.7;
      max-width: 500px;  
}

.case-description .persona-review {
width: 80%;
font-size: .9em;
line-height: 1.7;
   max-width: 500px;
    font-weight: 300;
    margin: 1em 40px;
}

#matthew-review-pic
{
 background: url(../images/studiov-case/matthew-review.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#suzanne-review-pic

{
 background: url(../images/rittenhouse/suzanne.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#cabrina-review-pic
{
 background: url(../images/experience/cabrina-image.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

.bottom-review blockquote {
      font-style: italic; 
    font-weight: 300;
     }

cite {
   font-style: normal; 
}




/*//////////////////////// //////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

Desktop VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
    
    
/*//////////////////////// //////////////////////
Navigation Back Button Styling
///////////////////////////////////////////////*/

    .top-nav {
     font-weight: 300;
        font-size: 1.5em;
        line-height: 0;
        transition: 0.3s ease;

    }
    
    .back-arrow {
width: 25px;
    padding-bottom: 3px;
    }
    
/*//////////////////////// //////////////////////
About Section Header and Image
///////////////////////////////////////////////*/
    
    
    #body {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
}
    
#image-f {
width: 50vw;
max-width: 100%;
height: 50vh;
border-radius: 0;
margin: 0;
background: url(../images/kyle.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
}
 
#about {
width: 100%;   
margin: 0;
padding: 0;
position: fixed;
display: flex;
display: -webkit-flex;
flex-direction: row;
-webkit-flex-direction: row;
}
    
#description {
width: 50vw;
height: 50vh;
max-width: 50vw;     
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
padding: 0;
align-items: center;
-webkit-align-items: center;
font-size: 1em;
line-height: 1.7;  
}
    
#container {
width: 95%;
max-width: 600px;
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
}
    
#description  p {
margin: .5em 0;              
}
    
.icon {
width: 25px;
height: 25px;
margin: 0 10px;   
}
    
    
    
/*//////////////////////// //////////////////////
CASE STUDY/WORK Row Styling
///////////////////////////////////////////////*/
    
    
#work {
width: 100%;
height: 100%;
position: fixed;
left: 0;
top: 50%;
display: flex; 
display: -webkit-flex;
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
flex-direction: row;
font-family: 'Whitney SSm A', 'Whitney SSm B';
}
    
.cover {
width: 25%;   
height: 50%;  
}
    
.case-study:hover  {
background: hsla(0, 0%, 0%, 0.5);
}
    
#tagline-mobile {
display: none;   
}
    
#tagline {
display: inherit;
text-align: center;
margin: .25em;
font-size: 1.5rem;
line-height: 1;
font-weight: 400;
}
    
/*//////////////////////// //////////////////////
Photo Gallery Page
///////////////////////////////////////////////*/
    
#photo-page {
display: flex;
display: -webkit-flex;
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
}

.photo-cover {
width: 50vw;
height: 75vh;
}

#mobile-photo-page {
display: none;   
}
    
.book {
width: 8em;
margin: 0 1.5em -.15em 1.5em;
} 
    
#bookshelf h2 {
font-size: 1.5em;
max-width: 100%;
}
    
    
    
/*//////////////////////// //////////////////////
Case Study Header Stylling
///////////////////////////////////////////////*/
.case-header {
margin: 0;
height: 37.5vh;   
}
    
.case-header h1 {
font-size: 3em; 
margin: .65em 0;
line-height: .5;
}
    
.case-header p {
font-size: 1em; 
margin: .65em 0;
line-height: .5;
}
    
    
/*//////////////////////// //////////////////////
Case Study Page Stylling
///////////////////////////////////////////////*/

.case-description {
width: 80%;
max-width: 46em; 
 font-family: 'Mercury SSm A', 'Mercury SSm B'; 
    margin: 0 auto;
    padding: 4em 0;
    
}
    
    .case-description p {
font-size: 1.14em;
line-height: 1.8;
}
    
    .first:first-letter { 
    font-size: 3em; 
          line-height: 1;
      
}

.first:first-line {
  line-height: 1.2;
}
    
    .small-caps {
     font-size: 1.2em;   
    }
    
    
    /*  Firefox TOP_NAV Margin FIX   */
    
@-moz-document url-prefix() { 
  .small-caps {
      font-size: 1.14em;
         font-weight: 300;
  }
}
 
    
    .case-website-button, .homepage-website-button {
    font-size: 1.15em;
        margin: 4em auto;
        border-width: 2px;
        width: 15.5em;
    }
    
    .homepage-website-button {
      width: 10.5em;   
        
    }
    
    .annotation, .study-image {
     max-width: 450px;   
    }
    

    
    
    .annotation-flex {
    margin: 2em auto;
 display: flex;
display: -webkit-flex;
flex-direction: row;
-webkit-flex-direction: row;
        justify-content: center;
-webkit-justify-content: center; 
    }
    
    
.bottom-navigation p

{
    font-size: 1em;
   
}
    

    .bottom-review {
        margin: 2em 0;
flex-direction: row;
-webkit-flex-direction: row;
 justify-content: center;
-webkit-justify-content: center;
align-items: center;
-webkit-align-items:center; 
}
    
    .bottom-navigation {

    -webkit-justify-content: space-between; 
    align-items: space-between;

    }
     
.center {
 text-align: center;   
}
    
    .review-pic {
 width: 125px;
    height: 125px;
    }
    
    
/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #527eab;
  height: 3px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
  
    
/* Underline From Left */
.hvr-underline-from-left, .hvr-underline-from-right  {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
    
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #262626;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before {
  right: 0;
}
    
/* Underline From Right */

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #262626;
  height: 1px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before {
  left: 0;
}
    
   



    
    
}