* {
 box-sizing: border-box;   
  font-family: 'Lato', sans-serif;  
}


body {
 margin: 0;   
   background: #FCFCFC;  
}


#image-f {
width: 100%;
max-width: 500px;
height: 200px;
border-radius: 4px;
margin: 2em auto 0 auto;
background: url(../images/kyle.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;  
}



h1 {
text-align: center;
}


.icon {
 width: 20px;
    height: 20px;
    border-radius: 100%;
   vertical-align: middle;
    margin:  5px;
}

#about {
 padding: 2em 0;   
 width: 90%;

    margin: 0 auto;
    
}

#about h1 {
 font-size: 2em;   
   line-height: 0;
    margin: 0 auto;
}

#tagline-mobile {
 text-align: center;
margin-bottom: 2em;
   font-size:2em;
    line-height: 1.5;
    font-weight: normal;
}

#desktop-t {
font-weight: 400;  
}
  

#tagline {
 display: none;   
}

#description {
font-size: 1em;
line-height: 1.7;
margin: 0 auto;
max-width: 500px;
padding: 3em 0;
    font-weight: 300;
    color: #262626;
}

.cover {
width: 100%;
 height: 300px; 
    margin: 0;
}


#cover1 {

   background: url(../images/cover1.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}
#cover2 {

   background: url(../images/cover2.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}

#cover3 {

   background: url(../images/cover3.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}

#cover4 {

   background: url(../images/cover4.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;     
 
   
}

.cover-h {
height: 100%;
width: 100%;
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
transition: 0.5s ease; 
background: hsla(0, 0%, 28%, 0.15);
   
}

  h3 {
text-align: center;  
color: white;
font-size: 1.5em;
line-height: 0;
font-weight: normal;
margin: 1.5em 0;
}

 .task {
    line-height: 0;
align-self: center;
      -webkit-align-self: center; 
     color: white;
     font-weight: 300;
     margin: 1.5em 0;
     font-size: 1em;
 
 }

    .case-study {
     color: white;
        text-align: center;
        line-height: 0;
        border: 1px solid white;
        margin: 1.5em auto;
     width: 7.5em;
font-weight: 300;

        padding: 1em 0;
        transition: 0.5s ease;
       
        font-weight: 1em;
    -webkit-align-self: flex-end; 
        align-self: flex-end;
    } 

a {
text-decoration: none;  
}
    
a:focus {
    outline: none;
    
}

a:active {
    outline: none;
}






/*//////////////////////// //////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

Desktop VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
    
    #body {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
    
    }
    
  #image-f {
width: 50vw;
max-width: 100%;
height: 50vh;
border-radius: 0;
margin: 0;
background: url(../images/kyle.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

  }
 
#about {
width: 100%;   
margin: 0;
padding: 0;
position: fixed;
display: flex;
display: -webkit-flex;
flex-direction: row;
-webkit-flex-direction: row;

}
    
    #description {
width: 100%;
height: 50vh;
max-width: 600px;     
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
padding: 0;
align-items: center;
-webkit-align-items: center;
    

}
    
#container {
width: 100%;
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
}
    
#description  p {
margin: .5em 0;              
       }
    
    
#work {
width: 100%;
height: 100%;
position: fixed;
left: 0;
    top: 50%;
display: flex; 
display: -webkit-flex;
flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    }
    

.cover {
     width: 25%;   
      height: 50%;  
    }
    
/*
 h3, .task {
     margin: 1em auto;
     position: relative;
   
 }
*/
    
  

/*

 .case-study {
     visibility: hidden;
 }
*/

    
    
.case-study:hover  {
/*background: hsla(0, 0%, 28%, 1);*/
background: hsla(0, 0%, 0%, 0.5);

}
    
        

   
    
    #tagline-mobile {
     display: none;   
    }
    
#tagline {
    display: inherit;
 text-align: center;
   margin: .25em;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
}
    
  
    .icon {
 width: 23px;
    height: 23px;
      margin: 0 10px;   
    }


    
}