
* {
box-sizing: border-box;   
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


nav, header {
display: flex;
display: -webkit-flex; 
align-items: center;
-webkit-align-items: center;
}

nav {
color: white;
background: #C42026;
padding: 5px 15px 5px 5px;
justify-content: space-between;
-webkit-justify-content: space-between;  
}

header {
text-align: center;  
justify-content: space-around;
-webkit-justify-content: space-around;
background: #D8D8D8;
color: white;
margin: 15px;
border-radius: 5px;
}

#head-shot {
width: 80px;
height: 80px;
border-radius: 100%;
background: url(../images/kelly-slater.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;       
}


#form-container, #summary-container, #dashboard-container {
background: #D8D8D8;
color: white;
margin: 15px;
border-radius: 5px;  
padding: 10px   
}

#selection-form {
background: grey;
padding: 5px 0;
}


.button-select {
width: 33.3333333%; 
text-align: center;
}

.button-select:hover {
background: lightgrey; 
margin: 0 3px;
cursor: move;
}

.post-amount {
display: flex; justify-content: space-between;
-webkit-justify-content: space-between;
margin: 1em 0;
}

 /*//////////////////////////////////
Form Styling///////////////////
//////////////////////////////////*/  


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/

label 
{
font-size: .85em;
display:block;
margin-top: .75em;
letter-spacing:2px;
}

/* Centres the form within the page */
form 
{
margin:0 auto;
width: 99%;
}

/* Styles the text boxes */
input, textarea, file {
width:99%;
height:33px;
border-radius: 2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border: 1px solid grey;
padding:8px;
margin-top:3px;
font-size: .9em;
color: grey;
}

.fifty {
width: 80%; 
}

input:focus, textarea:focus {
background-color: white;
opacity: .9;
	}

/* Styles the text area boxes (message field) */	
textarea 
{
height:113px;
border: 1px solid grey;
}

select {
 height:113px;   
}


/* Styles the submit button */
#submit {
width: 100%;
max-width: 150px;
height:33px;
text-align: center;
border:none;
margin: 10px auto;
cursor:pointer;
align-content: center;
background-color: #C42026;
border-bottom: 3px solid #FF6559;
color: white;
font-size: 1em;
border-radius: 2px;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
    
}

/* Styles the submit hover */	
#submit:hover {
color: White;
background-color:#FF6559;
}










/*//////////////////////// //////////////////////
Table Styling
///////////////////////////////////////////////*/
table {
width: 100%;
/*border: 1px solid grey;*/
padding: 1em 0;
}

td {
border-left: 1px solid grey;  
}

.no-border {
 border-left: none;   
}

td {
width: 33.3333333%;  
padding: 1em .35em;
font-weight: 300;   
font-size: .85em;
text-align: center;
}


.table-heading {
text-align: center;
padding: 1em 0;
font-size: 1.25em;
}




section.drop-d {
 display: none;
      width 90%; padding 5em 0; background: red;
}




.plus {
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
     transition-duration: .2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
    cursor: pointer;
     border-left: none; 
  padding: 4px;
    margin: 0 0 0 -20px;
}

.plus:hover {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
     transform: rotate(25deg);
    
}




/*//////////////////////// //////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

Tablet VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 690px) {
    
    #flex-layout {
display: flex;
display: -webkit-flex; 
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
max-width: 700px;
justify-content: space-between; 
-webkit-justify-content: space-between; 
margin: 0 auto;
    }
    
header {
width: 100%;
}

#form-container, #summary-container, #dashboard-container {
width: 100%; 
}
    
#flex-summary {
display: flex;
display: -webkit-flex;
justify-content: space-around;
-webkit-justify-content: space-around; 
}

}





/*//////////////////////// //////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

Desktop VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
#flex-layout {
max-width: 1250px;
}
    
header {
width: 20%;
flex-direction: column;
-webkit-flex-direction: column;
padding: 2em 0;
justify-content: center;
-webkit-justify-content: center; 
}
    
#form-container {
    width: 52%;
}
    
#summary-container {
    width: 20%;
}
    
     #flex-summary {
display: inherit;
justify-content: inherit;
-webkit-justify-content: inherit; 
    } 
    
textarea 
{
height:33px;
}
    
}