@media only screen and (min-width: 800px) {
    
    body, html {
     margin: 0;
        padding: 0;
        border: 0;
    }

#one {
 background: url(../images/photogallery/1bw-harbor.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#two {
 background: url(../images/photogallery/2bw-lake-monument.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#three {
 background: url(../images/photogallery/3bw-gateocean.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#four {
 background: url(../images/photogallery/4bw-harborboat.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#five {
 background: url(../images/photogallery/5bw-beth.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#six {
 background: url(../images/photogallery/6bw-path.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#seven {
 background: url(../images/photogallery/7bw-memoriallake.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
    
    
#eightbw {
 background: url(../images/photogallery/8bw.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#nine {
 background: url(../images/photogallery/9color.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#ten {
 background: url(../images/photogallery/10color.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#eleven {
 background: url(../images/photogallery/color-jonnybeach.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#twelve {
 background: url(../images/photogallery/color-loverbeach.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#thirteen {
 background: url(../images/photogallery/color-lovers.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#fourteen {
 background: url(../images/photogallery/color-miamibeach.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#fifteen {
 background: url(../images/photogallery/color-moon.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#sixteen {
 background: url(../images/photogallery/color-music.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
    #seventeen {
 background: url(../images/photogallery/color-olderlovers.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
    
        #eighteen {
 background: url(../images/photogallery/color-sunset.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
    
            #nineteen {
 background: url(../images/photogallery/color-pierduck.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
    
                #twenty {
 background: url(../images/photogallery/color-sunsetbest.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

}