





#one {
 background: url(../images/photogallery/1bw-harbor.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#two {
 background: url(../images/photogallery/2bw-lake-monument.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#three {
 background: url(../images/photogallery/3bw-gateocean.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#four {
 background: url(../images/photogallery/4bw-harborboat.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#five {
 background: url(../images/photogallery/5bw-beth.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#six {
 background: url(../images/photogallery/6bw-path.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#seven {
 background: url(../images/photogallery/7bw-memoriallake.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#eight {
 background: url(../images/photogallery/color-drink.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#nine {
 background: url(../images/photogallery/color-easternmarket.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#ten {
 background: url(../images/photogallery/color-fall.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#eleven {
 background: url(../images/photogallery/color-jonnybeach.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#twelve {
 background: url(../images/photogallery/color-loverbeach.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#thirteen {
 background: url(../images/photogallery/color-lovers.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#fourteen {
 background: url(../images/photogallery/color-miamibeach.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#fifteen {
 background: url(../images/photogallery/color-moon.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
#sixteen {
 background: url(../images/photogallery/color-music.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}


/*

#16 {
 background: url(../images/photogallery/color-ocean.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}


#16 {
 background: url(../images/photogallery/color-oceancove.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}

#16 {
 background: url(../images/photogallery/color-music.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
    
}
*/






/*////////////////////////////////////////////// 
Landing Page Slideshow Styling and Images
///////////////////////////////////////////////*/


.cb-slideshow,
.cb-slideshow:after { 
position: absolute;
width: 100%;
height: 100vh;
top: 0;
left: 0;
z-index: -1;
}

ul {
list-style: none;     
}


.cb-slideshow li span { 
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
color: transparent;
background-size: cover;
background-position: 50% 50%;
background-repeat: none;
opacity: 0;
z-index: 0;
-webkit-backface-visibility: hidden;
-webkit-animation: imageAnimation 36s linear infinite 0s;
-moz-animation: imageAnimation 36s linear infinite 0s;
-o-animation: imageAnimation 36s linear infinite 0s;
-ms-animation: imageAnimation 36s linear infinite 0s;
animation: imageAnimation 36s linear infinite 0s; 
}

/* Opening Slideshow Images and Delay settings */

.cb-slideshow li:nth-child(1) span { 
background-image: url(../images/rittenhouse/Study-in-Red.jpg);
  
}
.cb-slideshow li:nth-child(2) span { 
background-image: url(../images/rittenhouse/CaliforniaSunset-BIG.jpg);
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
-o-animation-delay: 4s;
-ms-animation-delay: 4s;
animation-delay: 4s; 
}

.cb-slideshow li:nth-child(3) span { 
background-image: url(../images/rittenhouse/FordIslandView-BIG.jpg);
-webkit-animation-delay: 10s;
-moz-animation-delay: 10s;
-o-animation-delay: 10s;
-ms-animation-delay: 10s;
animation-delay: 10s; 
}

.cb-slideshow li:nth-child(4) span { 
background-image: url(../images/rittenhouse/HawaiiSunset-BIG.jpg);
-webkit-animation-delay: 16s;
-moz-animation-delay: 16s;
-o-animation-delay: 16s;
-ms-animation-delay: 16s;
animation-delay: 16s; 
}

.cb-slideshow li:nth-child(5) span { 
background-image: url(../images/rittenhouse/harborboats.jpg);
-webkit-animation-delay: 22s;
-moz-animation-delay: 22s;
-o-animation-delay: 22s;
-ms-animation-delay: 22s;
animation-delay: 22s; 
}

.cb-slideshow li:nth-child(6) span { 
background-image: url(../images/rittenhouse/mangos-big.jpg);
-webkit-animation-delay: 28s;
-moz-animation-delay: 28s;
-o-animation-delay: 28s;
-ms-animation-delay: 28s;
animation-delay: 28s; 
}


/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation { 
0% { opacity: 0;
-webkit-animation-timing-function: ease-in; }
8% { opacity: 1;
-webkit-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
0% { opacity: 0;
-moz-animation-timing-function: ease-in; }
8% { opacity: 1;
-moz-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
0% { opacity: 0;
-o-animation-timing-function: ease-in; }
8% { opacity: 1;
-o-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
0% { opacity: 0;
-ms-animation-timing-function: ease-in; }
8% { opacity: 1;
-ms-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@keyframes imageAnimation { 
0% { opacity: 0;
animation-timing-function: ease-in; }
8% { opacity: 1;
animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}



.no-cssanimations .cb-slideshow li span{
opacity: 1;
}





/*////////////////////////////////////////////// 
General Styling 
///////////////////////////////////////////////*/

* {

box-sizing: border-box;

}
 

/*////////////////////////////////////////////// 
Navigation and Links Styling
///////////////////////////////////////////////*/


.top-nav {
font-family: 'Whitney SSm A', 'Whitney SSm B';
width: 100%;
z-index: 5000;
background: hsla(360, 100%, 100%, .9); 
}

.top-list {
display: -webkit-flex;
display: flex;
width: 95%;
align-items: center;
-webkit-align-items: center;
margin: 0 auto;
}

.top-list li {
 margin: 0 .75em;

}


.top-list li:first-child {  
padding: .5em 0px;
margin-left: -1.75em;
margin-right: auto;
}


#arrow, #contact {
height: 20px;
width: 20px;
margin: 0 .75em;
    padding: 0;
}



a {
text-decoration: none;  
color: black;  
}

.intro-title {
font-size: 1.5em; 
     font-weight: 400;
}

/*DROP DOWN MENU*/

.dropdown {
position: relative;
}
.drop-nav {
position: absolute;
display: none;
background: white;
padding: 2px 0;
margin-left: -3.5em;
width: 8.5em;
border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.drop-nav li:first-child {
margin-right: auto;  
padding: 0px;
margin-left: 0;

}


.drop-nav li {
margin: 10px 0 10px 10px;
    text-align: left;
}

.dropdown:hover > .drop-nav {
margin-top: 1px;
border-top-left-radius: 0px;
display:block;
z-index: 3000;
}


/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

DESKTOP VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
/*////////////////////////////////////////////// 
Navigation
///////////////////////////////////////////////*/
    
    
  
    
#intro-cover {
    
  
margin: 0;
width: 100%;
height: 100vh;
background: url(../images/Study-in-Red.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

}

  
.top-nav {

background: white;

}
    
nav.sticky {
background: hsla(360, 100%, 100%, .75);  
}
    
.drop-nav {
background: hsla(360, 100%, 100%, .5);  
}

    
    .dropdown:hover > .drop-nav {
margin-top: 1.25em;

}
    .drop-nav {
    margin-left: -3em;
       
    }
  #arrow, #contact, .mobile-only {
/*display: none;*/
}
    
.desktop-only {
 display: inherit;
    
}
    
    /* Underline From Center */
.hvr-underline-from-center, .hvr-underline-from-center-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before, .hvr-underline-from-center-2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: black;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-2:before{
  background: grey;  
      height: 1px;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center-2:hover:before {
    
  left: 0;
  right: 0;
}


}
