@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/kylemann/Desktop/project/main.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/kylemann/Desktop/project/main.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/kylemann/Desktop/project/main.scss */
body {
  line-height: 1; }

/* line 34, /Users/kylemann/Desktop/project/main.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/kylemann/Desktop/project/main.scss */
blockquote, q {
  quotes: none; }

/* line 40, /Users/kylemann/Desktop/project/main.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/kylemann/Desktop/project/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 55, /Users/kylemann/Desktop/project/main.scss */
* {
  margin: 0;
  padding: 0; }

/* line 62, /Users/kylemann/Desktop/project/main.scss */
* {
  box-sizing: border-box; }

/* line 66, /Users/kylemann/Desktop/project/main.scss */
body {
  font: normal 16px/1.5 'Source Sans Pro', sans-serif;
  background: white;
  color: black;
  overflow-x: hidden;
  padding-bottom: 100px; }

/* line 77, /Users/kylemann/Desktop/project/main.scss */
nav {
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 800px; }
  /* line 87, /Users/kylemann/Desktop/project/main.scss */
  nav img {
    width: 120px;
    margin-left: -10px; }
  /* line 92, /Users/kylemann/Desktop/project/main.scss */
  nav p {
    font-size: 1em;
    font-weight: 700;
    color: #0b97dd; }

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 105, /Users/kylemann/Desktop/project/main.scss */
.intro {
  background: white;
  padding: 100px 0;
  max-width: 800px;
  margin: 0 auto; }

/* line 114, /Users/kylemann/Desktop/project/main.scss */
.container {
  width: 800px;
  margin: 0 auto;
  text-align: left; }
  /* line 119, /Users/kylemann/Desktop/project/main.scss */
  .container p {
    font-size: 1.35em;
    line-height: 1.7;
    color: #333333; }

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 133, /Users/kylemann/Desktop/project/main.scss */
.timeline {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  padding-bottom: 100px; }

/* line 140, /Users/kylemann/Desktop/project/main.scss */
.timeline ul {
  background: white;
  padding: 0; }

/* line 147, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 5px;
  margin: 0 auto;
  padding-top: 100px;
  background: #0b97dd;
  font-size: 1.15em;
  line-height: 1.5; }
  /* line 157, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li h2 {
    font-size: 1.5em;
    font-weight: 600; }
    /* line 160, /Users/kylemann/Desktop/project/main.scss */
    .timeline ul li h2 span {
      font-weight: 700; }

/* line 169, /Users/kylemann/Desktop/project/main.scss */
#hide {
  background: white;
  padding-top: 0px; }

/* line 175, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit; }

/* line 187, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 30px;
  background: #0b97dd; }

/* line 195, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid; }

/* line 204, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(odd) div {
  left: 45px; }

/* line 208, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(7) div {
  background: #73AA1E; }

/* line 213, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #0b97dd transparent transparent; }

/* line 219, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(7) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent  #73AA1E transparent transparent; }

/* line 225, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(even) div {
  left: -439px; }

/* line 229, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #0b97dd; }

/* line 235, /Users/kylemann/Desktop/project/main.scss */
time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px; }

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 246, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li::after {
  transition: background .5s ease-in-out; }

/* line 250, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li.in-view::after {
  background: #0b97dd; }

/* line 254, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li:nth-child(7).in-view::after {
  background: #73AA1E; }

/* line 258, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out; }

/*
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}
*/
/* line 274, /Users/kylemann/Desktop/project/main.scss */
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1; }

/* line 280, /Users/kylemann/Desktop/project/main.scss */
a {
  border-bottom: 2px solid white;
  color: white;
  font-weight: 400;
  text-decoration: none; }

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 900px) {
  /* line 296, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li div {
    width: 250px; }
  /* line 299, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li:nth-child(even) div {
    left: -289px; } }

@media screen and (min-width: 600px) {
  /* line 306, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li {
    margin-left: 20px; }
  /* line 309, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li div {
    width: 700px; }
  /* line 312, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li:nth-child(even) div {
    left: 45px; }
  /* line 315, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0b97dd transparent transparent; } }

/* line 323, /Users/kylemann/Desktop/project/main.scss */
h1 {
  font-size: 4.5em;
  line-height: 1;
  font-weight: 700;
  color: #333333; }

@media screen and (max-width: 900px) {
  /* line 332, /Users/kylemann/Desktop/project/main.scss */
  h1 {
    font-size: 3em;
    line-height: 1;
    font-weight: 700;
    color: #333333; }
  /* line 340, /Users/kylemann/Desktop/project/main.scss */
  .container {
    width: 90%; } }

/* line 347, /Users/kylemann/Desktop/project/main.scss */
article {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 15px; }
  /* line 353, /Users/kylemann/Desktop/project/main.scss */
  article .head {
    font-weight: 600;
    font-size: .75em; }
  /* line 358, /Users/kylemann/Desktop/project/main.scss */
  article p {
    display: flex;
    margin: .5em 0;
    font-weight: 300; }
    /* line 362, /Users/kylemann/Desktop/project/main.scss */
    article p i {
      margin-top: 5px;
      margin-right: 5px; }

/* line 369, /Users/kylemann/Desktop/project/main.scss */
.chat {
  font-size: 1.25em;
  line-height: 1.5;
  padding-top: 10px;
  font-weight: 300; }

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  /* line 383, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li div {
    width: 250px; }
  /* line 386, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/ }
  /* line 391, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li div {
    transform: none;
    visibility: visible;
    opacity: 1; } }

@media screen and (max-width: 900px) {
  /* line 399, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li {
    margin-left: 20px; }
  /* line 402, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li div {
    width: calc(100vw - 91px); }
  /* line 405, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li:nth-child(even) div {
    left: 45px; }
  /* line 408, /Users/kylemann/Desktop/project/main.scss */
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0b97dd transparent transparent; } }

/*# sourceMappingURL=main.css.map */