$change: #092b35;
$blue: #1ab6ff;
* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

#background {
    
    width: 100%;
    max-width: 1500px;
}

.markets-page {
    margin-bottom: -71px;
}

@keyframes example {
    0% {
        background-color: black;
    }
    9% {
        background-color: black;
    }
    10% {
        background: $change;
    }
    12% {
        background: $change;
    }
    14% {
        background-color: black;
    }
    19% {
        background-color: black;
    }
    20% {
        background: $change;
    }
    22% {
        background: $change;
    }
    24% {
        background-color: black;
    }
    29% {
        background-color: black;
    }
    30% {
        background: $change;
    }
    32% {
        background: $change;
    }
    34% {
        background-color: black;
    }
    39% {
        background-color: black;
    }
    40% {
        background: $change;
    }
    42% {
        background: $change;
    }
    44% {
        background-color: black;
    }
    49% {
        background-color: black;
    }
    50% {
        background: $change;
    }
    52% {
        background: $change;
    }
    54% {
        background-color: black;
    }
    59% {
        background-color: black;
    }
    60% {
        background: $change;
    }
    62% {
        background: $change;
    }
    64% {
        background-color: black;
    }
    69% {
        background-color: black;
    }
    70% {
        background: $change;
    }
    72% {
        background: $change;
    }
    74% {
        background-color: black;
    }
    79% {
        background-color: black;
    }
    80% {
        background: $change;
    }
    82% {
        background: $change;
    }
    84% {
        background-color: black;
    }
    89% {
        background-color: black;
    }
    90% {
        background: $change;
    }
    92% {
        background: $change;
    }
    94% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes hideshow {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    9% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#card1 {
    transform: translateX(-100%);
    animation: slide-in 1.2s ease forwards, hideshow 60s ease infinite;
}

#card2 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 5.5s ease-in forwards, hideshow 60s 6s ease-in-out infinite;
}

#card3 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 11.5s ease-in forwards, hideshow 60s 12s ease-in-out infinite;
}

#card4 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 17.5s ease-in forwards, hideshow 60s 18s ease-in-out infinite;
}

#card5 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 23.5s ease-in forwards, hideshow 60s 24s ease-in-out infinite;
}

#card6 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 29.5s ease-in forwards, hideshow 60s 30s ease-in-out infinite;
}

#card7 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 35.5s ease-in forwards, hideshow 60s 36s ease-in-out infinite;
}

#card8 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 41.5s ease-in forwards, hideshow 60s 42s ease-in-out infinite;
}

#card9 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 47.5s ease-in forwards, hideshow 60s 48s ease-in-out infinite;
}

#card10 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.2s 53.5s ease-in forwards, hideshow 60s 54s ease-in-out infinite;
}

#card1,
#card2,
#card3 {
    transition: 1s ease;
}

.active {
    display: block;
}

.remove {
    display: none;
}

#click-market:hover {
    cursor: pointer;
}

.article {
    background: black;
    //        animation: example 100s ease infinite;   
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 1200px;
    left: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    .div-t {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 0 5px;
    }
    .ticker-a {
        width: 900px;
    }
    .text-input {
        background: white;
        padding: 1px 5px;
        width: 100%x;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        justify-content: center;
        border-radius: 0;
        img {
            width: 15px;
            margin-right: 5px;
            &:hover {
                cursor: pointer;
            }
        }
        input {
            border: none;
            color: grey;
            padding: 2px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
        }
    }
    .plus-toggle,
    .minus-toggle {
        width: 31px;
        height: 48px;
        margin-left: 15px;
        margin-top: -3px;
    }
    .article2 {
        display: flex;
        align-items: center;
        margin-top: -3px;
    }
}








